<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gp1.dao.AdminMapper">
 <select id="findByname" parameterType="String" resultType="Admins">
   select *from b_admin where aname=#{name}
 </select>
 <delete id="delete" parameterType="Integer">
   delete from b_user where uid=#{uid}
 </delete>

</mapper>

