<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gp1.dao.UserMapper">


<!-- Integer findIdByName(String name);
	Users findUserByName(String name);
	Users findUserById(Integer id); -->
	
	<select id="findIdByName" resultType="Integer">
		select id from b_user where uname=#{uname}
	</select>
	
	<select id="findUserByName" resultMap="reusers">
		select * from b_user where uname=#{uname}
	</select>
	<resultMap type="users" id="reusers">
		<id property="uid" column="uid"/>
		<result property="uname" column="uname"/>
		<result property="upwd" column="upwd"/>
		<result property="state" column="state"/>
		<result property="age" column="age" />
		<result property="email" column="email" />
		<result property="gender" column="gender" />
	</resultMap>
	
	
	<select id="findUserById" resultType="Users">
		select * from b_user where id=#{id}
	</select>
	
	<select id="findAllData" resultType="borrowdata">
		select * from b_data 
	</select>
</mapper>